{% extends 'base.html' %}
{% block title %} Services
{% endblock title %}
{% block body %}
<main role="main">

    <div class="container">
        <div class="jumbotron" style="background-color:#00F3FF">
            <h1 class="display-3">KEYUR ICE CREAM SERVICE</h1>
            <p> Keyur Ice Cream Service is one the first companies in India, that started selling specialized
                ingredients and related goods for the non-industrial ice-cream production from its own warehouse. Today
                we are implementing the preparation technology for Gujarat, soft ice-cream and frozen yogurt, with
                ingredients and accessories which we sell to our customers throughout India.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>FREE PRESENTATIONS</h2>
                <p>Keyur Ice Cream Service provides an opportunity to its clients to taste and test all of our products,
                    by arranging free presentations of our goods at your Ice cream shop.</p>
            </div>
            <div class="col-md-4">
                <h2>FREE SERVICES</h2>
                <p>We teach our clients the technology of production, share the recipes, create business-plans, and
                    build Turn-key production process absolutely for free, we are gladly providing many other free
                    services as well.</p>
            </div>
            <div class="col-md-4">
                <h2>Technologies</h2>
                <p>We cooperate with the best Polish, Indian manufacturers, we are motivated by the principles of the
                    highest quality, best service and the most modern technologies.</p>
            </div>
        </div>

        <hr>

    </div>

</main>
{% endblock body %}